.main-wrapper{
    background-image: linear-gradient(to bottom right, rgb(221, 137, 217), rgb(124, 82, 197)) !important;
    height: 120%;
    width: 100%;
}

.main-bar{
    background-color: rgb(255, 255, 255) !important;
}

.centered-logo{
    height: 25vh;
}

.search-div{
    width: 100vw;
    height: 15vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

.search-bar{
    border-radius: 33px;
}



.suggestions-table{
    background-color: #FFFFFF;
    border-radius: 33px;
    padding-left: 8vw;
    padding-right: 8vw;
}

.recently-popular{
    padding-left: 8vw;
    padding-right: 8vw;
    height: 8vh;
}

tr{
    padding-top: 1vw;
    padding-left: 2vw;
    
}

.table-header{
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-bottom: 1px solid rgba(226, 226, 226, 0.925)
}

.tables{
    width: 100vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.heart-button{
    border-radius: 33px;
    background-color: rgba(243, 243, 243, 0.925);
    border-width: 0;
    margin: 0;
    vertical-align: middle;
}

.heart-button.selected{
    background-color: rgb(156, 128, 255);
    color: white;
}

.main-table{
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.collapsed-table{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.additional-info{
    border-radius: 33px;
    background-color:rgba(243, 243, 243, 0.925);
    padding: 3vw;
    padding-bottom: 1vw;
}

footer{
    height: 20vh;
}