html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.main-wrapper{
    background-image: linear-gradient(to bottom right, rgb(221, 137, 217), rgb(124, 82, 197)) !important;

}

.main-bar{
    background-color: rgb(255, 255, 255) !important;
    width: 100%;
}

.centered-logo{
    height: 25vh;
    width: 100vw;
} 

.search-div{
    width: 100vw;
    height: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.search-bar{
    border-radius: 33px;
}
@media (min-width: 768px) {
    .search-div {
        padding-left: 10vw;
        padding-right: 10vw; } }

@media (min-width: 992px) {
    .search-div {
        padding-left: 15vw;
        padding-right: 15vw; } }
        
@media (min-width: 1200px) {
    .search-div {
        padding-left: 25vw;
        padding-right: 25vw; } }


.suggestions-table{
    background-color: #FFFFFF;
    border-radius: 33px;
    padding-left: 8vw;
    padding-right: 8vw;
}

.recently-popular{
    padding-left: 8vw;
    padding-right: 8vw;
    height: 8vh;
}

tr{
    padding-top: 1vw;
    padding-left: 2vw;
    
}

.table-header{
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-bottom: 1px solid rgba(226, 226, 226, 0.925)
}

.tables{
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

@media (min-width: 768px) {
    .tables {
        padding-left: 10vw;
        padding-right: 10vw; } }

@media (min-width: 992px) {
    .tables {
        padding-left: 15vw;
        padding-right: 15vw; } }
        
@media (min-width: 1200px) {
    .tables {
        padding-left: 25vw;
        padding-right: 25vw; } }

.heart-button{
    border-radius: 33px;
    background-color: rgba(243, 243, 243, 0.925);
    border-width: 0;
    margin: 0;
    vertical-align: middle;
}

.heart-button:hover{
    background-color: rgb(160, 160, 160);
    color: white;
}

.heart-button.selected{
    pointer-events: none;
    background-color: rgb(156, 128, 255);
    color: white;
}

.main-table{
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    border-radius: 33px;
    background-color: rgba(255, 255, 255, 0.925);
}

.collapsed-table{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.additional-info{
    border-radius: 33px;
    background-color:rgba(243, 243, 243, 0.925);
    padding: 3vw;
    padding-bottom: 1vw;
}

footer{
    height: 10vh;
}
